body {
  margin: 0;
}

#screen {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  aspect-ratio: 16 / 9;
  width: 100%;
}

#game {
  grid-area: 1 / 1;
  overflow: hidden;

  display: grid;
  grid-template-columns: 10% / 10%;
  grid-template-rows: 100%;
}

#game_background {
  grid-area: 1 / 1;
  background-image: url(background/airport.jpg);
  background-size: cover;
}

#game_elements {
  grid-area: 1 / 1;
  position: relative;
  overflow: hidden;
}

img {
  width: 100%;
}

/* Positioning of game elements */

#grumpy_container {
  width: 5%;
  position: absolute;
}

#fryingpanbird_container {
  width: 5%;
  position: absolute;
}

#pinkbird_container {
  width: 5%;
  position: absolute;
}

#punkbird_container {
  width: 5%;
  position: absolute;
}

#punkbird_sprite {
  transform: scaleX(-1);
}

#airplaneblue_container {
  width: 12%;
  position: absolute;
  rotate: -10deg;
}

#airplanedarkblue_container {
  width: 10%;
  position: absolute;
  rotate: -10deg;
}

/* UI */

#game_ui {
  position: absolute;
  translate: 1540% 1240%;
  color: white;
  font-size: 2em;
  font-family: sans-serif;
  pointer-events: none;
}

#score_board {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: .1em;
}

#scorePoints {
  white-space: nowrap;
  text-align: right;
}

#life_board {
  margin-block-start: .2em;
  display: grid;
  grid-template-columns: 1.2em 1.2em 1.2em;
}

.active_heart {
   filter: drop-shadow(0 0 2px yellow);
}

.broken_heart {
    filter: grayscale(75%) blur(.5px);
}

/* Animations and animation classes */

.flying1 {
  animation-name: flying1;
  animation-duration: 10s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  translate: -100% 0;
}

@keyframes flying1 {
  0% {
    transform: translate(0, 250%);
  }
  100% {
    transform: translate(2500%, 750%);
  }
}

.flying2 {
  animation-name: flying2;
  animation-duration: 10s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  translate: -100% 0;
}

@keyframes flying2 {
  0% {
    transform: translate(0, 400%);
  }
  100% {
    transform: translate(2500%, 0);
  }
}

.flying3 {
  animation-name: flying3;
  animation-duration: 10s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  translate: -100% 0;
}

@keyframes flying3 {
  0% {
    transform: translate(0, 600%);
  }
  100% {
    transform: translate(2500%, 1000%);
  }
}

.flying4 {
  animation-name: flying4;
  animation-duration: 10s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  translate: 2000% 0;
}

@keyframes flying4 {
  0% {
    transform: translate(0, 250%);
  }
  100% {
    transform: translate(-2500%, 500%);
  }
}

.airplaneblue_fly {
  animation-name: airplaneblue_fly;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  translate: 850% 0;
}

@keyframes airplaneblue_fly {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-2500%, -800%);
  }
}

.airplanedarkblue_fly {
  animation-name: airplanedarkblue_fly;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  translate: 1000% 200%;
}

@keyframes airplanedarkblue_fly {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-2500%, -800%);
  }
}

.hit {
  animation-name: hit;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes hit {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0);
  }
}

.paused {
  animation-play-state: paused;
}
