body {
  margin: 0;
}

#screen {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  aspect-ratio: 16 / 9;
  width: 100%;
}

#game {
  grid-area: 1 / 1;
  overflow: hidden;

  display: grid;
  grid-template-columns: 10% / 10%;
  grid-template-rows: 100%;
}

#game_background {
  grid-area: 1 / 1;
  background-image: url(background/airport.jpg);
  background-size: cover;
}

#game_elements {
  grid-area: 1 / 1;
  position: relative;
  overflow: hidden;
}

#game_over {
  grid-area: 1 /1;
  z-index: 999;
  display: grid;
  justify-content: center;
  align-content: center;
  background-image: linear-gradient(150deg, #c90303 0%, #790909 100%);
  color: #ffffff;
}

#level_complete,
#start {
  grid-area: 1 /1;
  z-index: 999;
  display: grid;
  justify-content: center;
  align-content: center;
  background-image: linear-gradient(150deg, #20c903 0%, #09793b 100%);
  color: #ffffff;
}

.hidden,
#game_over.hidden,
#level_complete.hidden,
#start.hidden {
  display: none;
}

.replayButton {
  width: 50%;
  padding-left: 2em;
}

img {
  width: 100%;
}

/* Positioning of game elements */

#grumpy_container {
  width: 5%;
  position: absolute;
}

#fryingpanbird_container {
  width: 5%;
  position: absolute;
}

#pinkbird_container {
  width: 5%;
  position: absolute;
}

#punkbird_container {
  width: 5%;
  position: absolute;
}

#airplaneblue_container {
  width: 12%;
  position: absolute;
  rotate: -10deg;
}

#airplanedarkblue_container {
  width: 10%;
  position: absolute;
  rotate: -10deg;
}

/* UI */

#game_ui {
  position: absolute;
  translate: 0 .5vw;
  color: white;
  font-size: 2em;
  font-family: sans-serif;
  pointer-events: none;
  user-select: none;
}

#time_container {
  position: absolute;
  width: 20%;
  aspect-ratio: 6/30;
  border: 2px solid black;
  background-color: rgba(208, 204, 204, 0.383);
  translate: 650% -30%;
  rotate: 90deg;
}

#time_sprite {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: limegreen;
  transform-origin: center bottom;
}

#score_board {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: .1em;
}

#scorePoints {
  white-space: nowrap;
  text-align: right;
}

#life_board {
  margin-block-start: .2em;
  display: grid;
  grid-template-columns: 1.2em 1.2em 1.2em;
}

.active_heart {
   filter: drop-shadow(0 0 2px yellow);
}

.broken_heart {
    filter: grayscale(75%) blur(.5px);
}

/* Animations and keyframes */

.flying1 {
  animation-name: flying1;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  translate: -100% 0;
}

@keyframes flying1 {
  0% {
    transform: translate(0, 250%);
  }
  100% {
    transform: translate(2500%, 750%);
  }
}

.flying2 {
  animation-name: flying2;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  translate: -100% 0;
}

@keyframes flying2 {
  0% {
    transform: translate(0, 400%);
  }
  100% {
    transform: translate(2500%, 0);
  }
}

.flying3 {
  animation-name: flying3;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  translate: -100% 0;
}

@keyframes flying3 {
  0% {
    transform: translate(0, 600%);
  }
  100% {
    transform: translate(2500%, 1000%);
  }
}

.flying4 {
  animation-name: flying4;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  translate: -100% 0;
}

@keyframes flying4 {
  0% {
    transform: translate(0, 250%);
  }
  100% {
    transform: translate(2500%, 500%);
  }
}

.plane1 {
  animation-name: plane1;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  translate: 1000% 0;
}

@keyframes plane1 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-2500%, -800%);
  }
}

.plane2 {
  animation-name: plane2;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  translate: 1000% 200%;
}

@keyframes plane2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-2500%, -800%);
  }
}

.plane3 {
  animation-name: plane3;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  translate: 1000% 400%;
}

@keyframes plane3 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-2500%, -800%)
  }
}

.plane4 {
  animation-name: plane4;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  translate: 1000% 600%;
}

@keyframes plane4 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-2500%, -800%)
  }
}

.hit {
  animation-name: hit;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes hit {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0);
  }
}

.paused {
  animation-play-state: paused;
}

/* Button on start screen */
@keyframes pulse_kf {
  0% {
      transform: scale(0.8);
  }

  100% {
      transform: scale(1);
  }
}

.pulse {
  animation-name: pulse_kf;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

button {
  padding: 0.5em 1em;
  font-size: 2em;
  margin: auto;
  background-color: #ffad01;
  color: #fff4bf;
  border: 10px solid #ffc72e;
  cursor: pointer;
  border-radius: 10px;
}

.shrink {
  animation-name: shrink_kf;
  animation-duration: 20s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes shrink_kf {
  0% {
    scale: 1 1;
    background-color: limegreen;
  }
  50% {
    background-color: rgb(255, 230, 0);
  }
  100% {
    scale: 1 0;
    background-color: red;
  }
}

.speed1 {
  animation-duration: 3s;
}

.speed2 {
  animation-duration: 6s;
}

.speed3 {
  animation-duration: 5s;
}

.speed4 {
  animation-duration: 4s;
}

.speed5 {
  animation-duration: 7s;
}